@import (less) "boilerplate.css";

#main-container {
	width: 100%;
	height: 100%;
	border: black 2px dashed;
	padding: 3px;

	.layered-ui {
		position: absolute;
	}

	.menu {
		position: absolute;
		top: 20px;
		right: 0px;
		.button {
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: 0px 0px;
	    border: none;
	    cursor: pointer;
	    height: 26px;
	    width: 26px;
	    margin-right: 12px;
	    vertical-align: middle;	
	    float: left;
		}
		.add-button {
			background-image: url(/images/icons/plus.png);
		}
		.upload-button {
			background-image: url(/images/icons/upload.png);
		}
	}
}

#main {
	.selected {
		stroke: blue;
		stroke-width: 2px;
	}
}

.block-svg {
	fill: white;
	stroke: black;
	stroke-width: 1px;
  cursor: pointer;
  .port {
  	cursor: crosshair;
  }
}

.block-dom {
  text-align: center;
  pointer-events: none;
	.block-id {
		height: 0.75em;
		min-width: 15px;
		max-width: 95px;
		display: inline-block;
		vertical-align: middle;
	  cursor: pointer;
	}
	.colors.block-id {
		color: purple;
	}
	.I.block-id {
		color: green;
	}
	.output.block-id, .preview.block-id  {
		color: brown;
	}
	.block-id[contenteditable] {
		color: rgb(100, 100, 100);
	  pointer-events: visiblePainted;
	  cursor: text;
	}
	.block-comment {
		position: absolute;
		left: 110%;
		top: 50%;
		min-width: 15px;
		margin-top: -0.75em;
		font-size: 0.75em;
		color: rgb(150, 150, 150);
		pointer-events: visiblePainted;
	}
	.input-name {
		position: absolute;
		top: -55%;
		left: 0;
		width: 100%;
		font-size: 0.85em;
		color: purple;
		display: inline-block;
		vertical-align: middle;
	  pointer-events: visiblePainted;
	}
}

.block-dom.preview {
	.preview-container {
		position: absolute;
		top: 100%;
		border: grey 1px dashed;
	  pointer-events: visiblePainted;
	}
}

.connection {
	stroke: black;
}

